.ant-layout {
  .ant-layout.ant-layout-has-sider {
    flex-direction: row;
  }

  .ant-layout-sider {
    width: 220px !important;
    height: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .ant-layout-sider-collapsed {
    width: 50px !important;
  }

  .ant-menu-root {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
      0 2px 4px 0 rgb(0 0 0 / 2%);
  }
}
